{% extends 'Main/base.html' %}

{% block title %}
    Publicaciones
{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Lista de Publicaciones</h1>
<a href="{% url 'blog:post_create' %}" class='btn btn-primary mb-3'>Crear publicación</a>

<form action="{% url 'blog:post_list' %}" method="get">
  <input type="text" name="busqueda" placeholder="Buscar..." type="submit"
  class="form-control mb-3">
</form>

  <ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
      <a href="#" class="text-decoration-none text-reset">
        <div class="d-flex flex-column">
          <h5 class="fw-bold mb-1">{{ post.titulo }}</h5>
          <p class="mb-1">{{ post.contenido }}</p>
          <small class="text-muted">Publicado el {{ post.fecha_publicacion }}</small>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
