{% extends 'myapp/base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
  <h1 class="mb-4 text-center">Lista de Publicaciones</h1>
  <ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
      <a href="#" class="text-decoration-none text-reset">
        <div class="d-flex flex-column">
          <h5 class="fw-bold mb-1">{{ post.titulo }}</h5>
          <p class="mb-1">{{ post.contenido }}</p>
          <small class="text-muted">Publicado el {{ post.fecha_publicacion }}</small>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
